<h1>blank</h1>
<h1>Add item to Laptop Store</h1>
<form action="/store" method="post">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter name">
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" name="description" placeholder="Enter item description">
  </div>

  <div class="form-group">
    <label for="img">img</label>
    <input type="text" class="form-control" name="img" placeholder="Enter image link">
  </div>

  <div class="form-group">
    <label for="price">price</label>
    <input type="number" class="form-control" name="price" placeholder="$">
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" name="quantity" placeholder="Enter quantity">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>

<footer class="py-4 bg-dark fixed-bottom">
  <p class="m-0 text-center text-white">Copyright © 2022 Apple Inc. All rights reserved.</p>
</footer>